@import "./partials/breakpoints.scss";
:root {
  --main-bg: #fefefe;
  --nav-w: 25vh;
  --nav-bg: #1e1e1e;
  --main-w: 1fr;
  --title-color: #2c2c2c;
}


@import "./components/wrapper";
@import "./components/nav.scss";
// @import "./panel/index.scss";
@import "./panel/editor.scss";
@import "./components/posts.scss";