@import "./partials/breakpoints.scss";

:root {
  --fs: 17px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: var(--fs);
  overflow-x: hidden;

  @include phone { --fs: 1px; }
}
html, body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #1a1a1a;
    @include phone {
      width: 2px;
    }
    &-thumb {
      background-color: #eeeeee;
      @include phone {}
    }
  }
}
@import "./components/nav";
@import "./components/postComp";