@import "./partials/breakpoints";
@import "./partials/colors";

@import "./components/nav";

:root {
	--bookmark-w: 30em;
	--bookmark-c: #1C1C1C;
	--bookmark-form-w: 65%;
	--bookmark-form-label-fs: 1rem;
	--bookmark-form-input-w: 100%;
	--bookmark-form-input-h: 3em;
	--bookmark-form-input-fs: 1rem;
	--bookmark-form-box-s: 1rem;
}

@include phone {
	:root {
		--bookmark-w: 100%;
		--bookmark-form-input-h: 10vw;
		--bookmark-title-mb: 10%;
	}
}

@import "./components/wrapper";
.wrapper {
	background: url("../images/PH/man-l.jpeg") center center no-repeat fixed;
	background-size: cover;
	overflow: hidden;
	@include phone {
		background-image: none;
	}
}

@import "./components/bookmark.scss";