@charset "UTF-8";
@import "./partials/breakpoints.scss";
:root {
  --fs: 17px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: var(--fs);
  overflow-x: hidden;

  @include phone { --fs: 1px; }
}
html, body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #1a1a1a;
    &-thumb {
      background-color: #eeeeee;
    }
  }
}

@import "./components/nav";
@import "./components/pinned";
@import "./components/header";
@import "./components/posts";
@import "./components/search";
@import "./components/post";
