header.slider
  ol.slider__slides#slider__slides
    li.slider__slides__item
  button.slider__btn.slider__btn--prev <
  button.slider__btn.slider__btn--next >
  form.slider__btns#slider__btns
  input(type="hidden", name="slides", value= header.slides, id="__slides__")

  script(src="/js/slider.js", async)