extends layout

block head
  link(rel="stylesheet", href="/css/signform.css")

block content
  main.bookmark
    h1.bookmark__title Express
    form.bookmark__form.bookmark__form--login#form
      div.bookmark__form__field
        label(for="login").bookmark__form__field__label login
        input#login(type="text", name="login").bookmark__form__field__input
      div.bookmark__form__field
        label(for="password").bookmark__form__field__label password
        input#password(type="password", name="password").bookmark__form__field__input
      div.bookmark__form__field.bookmark__form__field--check
        input#vis(type="checkbox", name="vis").bookmark__form__field__box
        label(for="vis").bookmark__form__field__label show password
      input#submit(type="submit", value="login", disabled).bookmark__btn
    div.bookmark__shape
    span.bookmark__text Don't have an account? 
      a.bookmark__text--link(href="/register") Register
  script(src="../js/login.js", defer)