extends layout
block head
  link(rel="stylesheet", href="../css/post.css")
block heading
  header.header
    img.header__img(src= `${/https?/g.test(post.Img) ? post.Img : `../${post.Img}`}`, alt="")
    h1.header__title #{post.Title}

block content
  main.post !{post.Body}
  script(src="../js/post.js")
  // script(src="../js/nav.js", defer)
    