@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 17px;
  overflow-x: hidden; }

html, body {
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: auto;
  overflow-x: hidden; }

body::-webkit-scrollbar {
  width: 8px;
  background-color: #1a1a1a; }
  body::-webkit-scrollbar-thumb {
    background-color: #eeeeee; }

:root {
  --nav-height: 15vh;
  --nav-side-padding: 2%;
  --nav-aside-width: 5vw;
  --nav-upper-height: 60%; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: calc( var(--nav-height) * var(--nav-upper-height));
  display: grid;
  grid-template: var(--nav-upper-height)/var(--nav-aside-width) repeat(6, 1fr) var(--nav-aside-width);
  overflow: hidden;
  transition: clip-path .2s 0s ease-in-out;
  will-change: height, grid-template; }
  .nav--sticky {
    position: fixed;
    animation: sticky .2s 0s linear; }

@keyframes sticky {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
  .nav--open {
    height: var(--nav-height);
    grid-template: var(--nav-upper-height) 1fr/var(--nav-aside-width) repeat(6, 1fr) var(--nav-aside-width);
    backface-visibility: hidden; }
    .nav--open .nav__pages {
      display: flex; }
  .nav::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%);
    background-color: rgba(2, 2, 2, 0.6);
    filter: blur(20px);
    z-index: -1; }
  .nav::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 94%;
    background-color: #fefefe; }
  .nav__burger {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 3vh;
    height: 3vh;
    background-color: transparent;
    border: none;
    fill: #fefefe;
    margin: auto;
    cursor: pointer; }
  .nav__logo {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    text-align: center; }
    .nav__logo__link {
      text-decoration: none;
      color: #fefefe;
      font-size: 3rem;
      font-family: monospace;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
      line-height: calc(var(--nav-height) * 0.6); }
  .nav__search {
    --ss: 1.8rem;
    --imr: .6rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 2rem;
    margin: auto;
    position: relative;
    overflow: hidden;
    /*&__bg {
      width: calc(100% - (var(--imr) + var(--ss)));
      height: 2rem;
      position: absolute;
      left: 0;
      bottom: -100%;
      background-color: #fefefe;
      transform: translateY(0);
      transition: transform .2s 0s ease-out;
      z-index: -1;
    }*/ }
    .nav__search__input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #fefefe;
      color: #eeeeee;
      font-size: 1.2rem;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-right: var(--imr);
      overflow: hidden;
      position: relative;
      transition: color .2s 0s ease-out;
      padding: 0 4%; }
      .nav__search__input:focus {
        outline: none; }
        .nav__search__input:focus + .nav__search__bg {
          transform: translateY(-100%); }
    .nav__search__submit {
      width: var(--ss);
      height: var(--ss);
      margin: auto 0;
      background-color: transparent;
      border: none; }
      .nav__search__submit svg {
        fill: #fefefe;
        width: 100%;
        height: 100%; }
  .nav__pages {
    grid-row: 2 / 3;
    grid-column: 3 / 7;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style: none;
    will-change: display; }
    .nav__pages__item {
      flex: 1 0 10%;
      text-align: center;
      line-height: calc(var(--nav-height) * 0.3); }
      .nav__pages__item__link {
        display: block;
        width: 100%;
        height: 100%;
        color: #eeeeee;
        text-decoration: none;
        font-size: 1.22rem;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: color .1s 0s linear; }
        .nav__pages__item__link:hover {
          color: #ffffff; }
  .nav__media {
    grid-column: 7 / 9;
    grid-row: 1 / 2;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    padding-left: 20%;
    list-style: none; }
    .nav__media__item {
      margin: auto 5%;
      flex: 1 0 10%;
      max-width: 2rem;
      max-height: 2rem; }
      .nav__media__item__link {
        display: block;
        width: 100%;
        height: 100%; }
        .nav__media__item__link svg {
          width: 100%;
          height: 100%;
          fill: #fefefe; }
          .nav__media__item__link svg circle {
            fill: transparent; }

/*@require '../partials/colors'
@require '../partials/pos'
@require '../partials/functions'

.nav
  position: fixed
  top: 0
  left: 0
  z-index: 100
  width: 100vw
  height: var(--nav-height)
  display: flex
  flex-flow: row nowrap
  background-color: $deep_black
  padding: 0 var(--nav-side-padding)
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  &--open
    .nav__pages
      transform: translateY(100%)

      &::after
        transform: translate(-50%, -150%)

  &__burger
    width: @height
    height: @width
    background-color: transparent
    border: none

    &__icon
      width: 60%
      height: 60%
      max-width: @height
      max-height: @height
      position: relative
        
  &__logo
    min-width: 10vw
    max-width: 40vw
    height: 100%
    font-size: 2rem 
    text-align: center
    color: #fff
    
    &__link
      display: block
      width: 100%
      height: 100% 
      color: @color
      font-size: inherit

  &__search
    --h: calc(var(--nav-height) * 0.7)
    to_center(absolute)
    height: var(--h)
    width: 30vw
    display: flex
    flex-flow: row nowrap

    &__input
      flex: 11 0 50%
      background-color: $jet
      box-shadow: 
        inset 0 0 6px 2px #000000
      border: none 
      transition: box-shadow .2s 0s ease-out
      color: #fefefe
      padding: 0 2%
      font-size: calc(var(--h) / 2)
      &:focus 
        box-shadow: inset 0 0 1px .5px #000000
        outline: none

    &__submit 
      flex: 1 0 1%
      margin-left: 1%
      background: none
      border: none
      fill: #fefefe
      &:focus
        outline: none

  &__pages
    position: absolute
    left: 0
    top: 0
    z-index: -1
    width: 100%
    height: @height
    display: flex
    flex-flow: row nowrap
    list-style: none
    background-color: $jet
    transition: 
      transform .2s 0s ease-out

    &::after
      save()
      width: 110%;
      height calc(100% + 2px)
      background-color: $deep_black
      transition: @transition

    &__page
      flex: 1 0 10%
      max-width: 15%
      height: @height
      background-color: inherit

      &__link
        display: block
        width: 100%
        height: @height
        font-size: 1rem
        color: #ffffff
        text-decoration: none
        text-align: center
        line-height: @height
        background-color: inherit
        text-transform: uppercase
        transition: 
          background-color .2s 0s ease-out,
          box-shadow .2s 0s ease-out
        font-size: 1rem

        &:hover
        &:focus
          background-color: $orange
          box-shadow: 0 -3px 2px 1px #000000
  &__media 
    --h: calc(var(--nav-height) * 0.8)
    display: flex
    flex-flow: row nowrap
    position: absolute
    right: 0
    top: 0
    height: var(--h)
    margin-top: calc((var(--nav-height) - var(--h)) / 2)
    width: 10%
    padding-right: var(--nav-side-padding)
    justify-content: space-between
    
    &__item
      width: var(--h)
      height: @width
      &__link
        width: 100%
        height: 100% 
        &:hover
        &:focus
          svg > path
            fill: $orange
        svg
          max-width: 100%
          max-height: @max-width
          path
            fill: #ffffff
            transition: 
              fill .2s 0s ease-out
        */
.main__pinned {
  display: grid;
  width: 100%;
  height: 110vh;
  grid-template: repeat(8, 1fr)/repeat(8, 1fr);
  grid-template-areas: "top top top top top top top top" "top top top top top top top top" "top top top top top top top top" "top top top top top top top top" "top top top top top top top top" "left left left left right right right right" "left left left left right right right right" "left left left left right right right right";
  grid-gap: 3vh; }
  .main__pinned__article {
    position: relative;
    overflow: hidden; }
    .main__pinned__article--big {
      grid-area: top;
      width: 100%;
      height: 100%;
      background-color: #fefefe;
      display: grid;
      grid-template: 1fr / 60% 40%;
      grid-template-areas: "img article"; }
      .main__pinned__article--big .main__pinned__article__img {
        grid-area: img;
        min-width: 100%;
        height: 100%; }
      .main__pinned__article--big .main__pinned__article__data {
        --title-color: #1b1b1b;
        grid-area: article;
        padding: 5% 5% 0 5%;
        display: grid;
        background-color: #fefefe; }
        .main__pinned__article--big .main__pinned__article__data__date {
          color: #cccccc;
          font-size: 1.3rem; }
        .main__pinned__article--big .main__pinned__article__data__title {
          font-size: 4.4rem;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          color: var(--title-color); }
        .main__pinned__article--big .main__pinned__article__data__line {
          width: 30%;
          height: 3px;
          background-color: var(--title-color); }
        .main__pinned__article--big .main__pinned__article__data__desc {
          font-size: 1.2rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          color: #4a4a4a; }
        .main__pinned__article--big .main__pinned__article__data__link {
          display: block;
          width: 34%;
          height: 5.4vh;
          text-align: center;
          line-height: 5.4vh;
          font-size: 100%;
          font-weight: 700;
          color: #9f9f9f;
          text-transform: uppercase;
          text-decoration: none;
          border: 3px solid #9f9f9f;
          transition: color .1s 0s linear, border-color .1s 0s linear; }
          .main__pinned__article--big .main__pinned__article__data__link:hover {
            color: #2f2f2f;
            border-color: #2f2f2f; }
    .main__pinned__article--small {
      background: #eeeeee;
      grid-area: right; }
      .main__pinned__article--small:nth-of-type(2) {
        grid-area: left; }
      .main__pinned__article--small .main__pinned__article {
        box-shadow: inset 0 2vh 2vh 1px rgba(0, 0, 0, 0.8); }
        .main__pinned__article--small .main__pinned__article__link {
          --img: url('../images/PH/mountains-l.jpeg');
          --d: 2.4vh;
          --t: 8vh;
          display: grid;
          width: 100%;
          height: 100%;
          overflow: hidden;
          padding: 2%;
          text-decoration: none;
          background: var(--img) center center no-repeat;
          background-size: cover;
          grid-template: repeat(3, 1fr) var(--d) var(--t)/100%;
          grid-template-areas: "space" "space" "space" "date" "title"; }
          .main__pinned__article--small .main__pinned__article__link__img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            min-height: 100%; }
          .main__pinned__article--small .main__pinned__article__link__date {
            grid-area: date;
            color: #eeeeee;
            font-size: calc( var(--d) * 0.9);
            text-transform: uppercase;
            text-align: center;
            z-index: 2; }
          .main__pinned__article--small .main__pinned__article__link__title {
            z-index: 3;
            grid-area: title;
            color: #ffffff;
            text-align: center;
            font-size: calc( var(--t) * 0.7);
            font-weight: 700;
            font-style: italic;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

:root {
  --header-title-size: 30rem;
  --header-img: ($blue); }

.slider {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  position: relative; }
  .slider__btn {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100vh;
    background-color: transparent;
    border: none;
    color: #cccccc;
    line-height: 100vh;
    font-size: 4rem;
    font-weight: 1;
    text-align: center; }
    .slider__btn:focus {
      outline: none; }
    .slider__btn:hover {
      color: #ffffff;
      cursor: pointer; }
    .slider__btn--prev {
      left: 0; }
    .slider__btn--next {
      left: calc(100vw - 5rem); }
  .slider__slides {
    --speed: 0.2s;
    --translate: 0vw;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    height: 100%;
    transform: translateX(var(--translate));
    transition: transform var(--speed) 0s ease-in-out;
    text-rendering: geometricPrecision; }
    .slider__slides__item {
      --img: url("https://loremflickr.com/1280/720");
      width: 100vw;
      height: 100%;
      display: grid;
      grid-template: repeat(10, 1fr)/repeat(10, 1fr);
      background: var(--img) center center no-repeat;
      box-shadow: inset 0 -2vh 6vh 2vh #1e1e1e;
      background-size: cover;
      background-color: #141414;
      overflow: hidden;
      position: relative; }
      .slider__slides__item:nth-of-type(3n) {
        background-color: #2c2c2c; }
      .slider__slides__item:nth-of-type(2n) {
        background-color: #4f20e8; }
      .slider__slides__item__line {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20vw;
        height: 5px;
        background-color: #ffffff; }
      .slider__slides__item__title {
        grid-row: 3 / 6;
        grid-column: 1 / -1;
        color: #ffffff;
        font-size: 11vh;
        line-height: 28vh;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 0 0 1.6px rgba(21, 21, 21, 0.7);
        white-space: pre-line;
        overflow: hidden; }
      .slider__slides__item__desc {
        grid-row: 6 / 7;
        grid-column: 4 / 8;
        text-align: center;
        line-height: 10vh;
        color: #ffffff;
        font-size: 1.3rem;
        text-shadow: 0 0 1px rgba(21, 21, 21, 0.7);
        overflow: hidden;
        white-space: pre-line; }
      .slider__slides__item__link {
        display: block;
        width: 60%;
        height: 60%;
        margin: auto;
        grid-row: 7 / 8;
        grid-column: 5 / 7;
        text-align: center;
        color: #ffffff;
        border: 3px solid #ffffff;
        line-height: calc(100vh / 18);
        font-size: 1.3rem;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden; }
  .slider__btns {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row nowrap; }
    .slider__btns__item {
      display: block;
      width: 1.4vw;
      margin: 0 0.6vw;
      height: 6px;
      position: relative;
      overflow: hidden; }
      .slider__btns__item__btn {
        width: 1.4vw;
        height: 1.4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: inset 0 0 100vh #aaaaaa;
        cursor: pointer; }
        .slider__btns__item__btn:checked {
          background-color: #ffffff;
          color: #ffffff;
          box-shadow: inset 0 0 100vh #ffffff;
          content: "\9632"; }

:root {
  --chunk-h: 50vh;
  --article-h: 10vh;
  --main-list-gap: 3vh;
  --main-bg: #1e1e1e;
  --main-padding-ver: 3%;
  --main-padding-hor: 10%; }

.main {
  width: 100vw;
  height: auto;
  background-color: var(--main-bg);
  padding: var(--main-padding-ver) var(--main-padding-hor);
  z-index: 50;
  position: relative; }
  .main__title {
    font-size: 2.4rem;
    text-align: center;
    font-family: monospace;
    position: relative;
    background: var(--main-bg);
    color: #ededed;
    width: 22vw;
    font-weight: lighter;
    margin: 5vh auto 0 auto; }
    .main__title::before, .main__title::after {
      content: "";
      position: absolute;
      top: 50%;
      width: calc(100vw / 2);
      height: 3px;
      background-color: #464646;
      transform: translateY(-50%);
      z-index: -1; }
    .main__title::before {
      left: calc(100vw / -3.2 + var(--main-padding-hor)); }
    .main__title::after {
      right: calc(100vw / -3.2 + var(--main-padding-hor)); }
  .main__posts {
    --rows: 5;
    --cols: 3;
    --template: "a c e" "a c e" "a d e" "b d f" "b d f";
    --gap: var(--main-list-gap);
    width: 100%;
    min-height: 100vh;
    height: 120vh;
    padding: 2% 0;
    align-content: space-around;
    display: grid;
    grid-template: repeat(5, 1fr)/repeat(3, 1fr);
    grid-template-areas: "a c e" "a c e" "a d e" "b d f" "b d f";
    grid-gap: var(--gap); }
    .main__posts__item {
      background-color: #fefefe;
      display: block;
      overflow: hidden; }
      .main__posts__item:nth-of-type(1) {
        grid-area: a; }
      .main__posts__item:nth-of-type(2) {
        grid-area: b; }
      .main__posts__item:nth-of-type(3) {
        grid-area: c; }
      .main__posts__item:nth-of-type(4) {
        grid-area: d; }
      .main__posts__item:nth-of-type(5) {
        grid-area: e; }
      .main__posts__item:nth-of-type(6) {
        grid-area: f; }
      .main__posts__item--small .main__posts__item__link {
        grid-template-areas: "img" "img" "img" "article" "article" "article"; }
      .main__posts__item--big .main__posts__item__link {
        grid-template-areas: "img" "img" "img" "img" "article" "article"; }
      .main__posts__item__link {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        text-decoration: none;
        grid-template: repeat(6, 1fr)/1fr; }
        .main__posts__item__link__img {
          grid-area: img;
          min-width: 100%;
          max-width: 130%; }
        .main__posts__item__link__article {
          --title-color: #1b1b1b;
          grid-area: article;
          background-color: #fefefe;
          padding: 5%;
          position: relative; }
          .main__posts__item__link__article::after {
            content: "...";
            text-align: center;
            font-size: 1.2rem;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 15%;
            width: 100%;
            background-color: #fefefe; }
          .main__posts__item__link__article__date {
            color: #cccccc;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: monospace;
            font-weight: 100; }
          .main__posts__item__link__article__title {
            color: var(--title-color);
            font-size: 2rem;
            white-space: pre-line;
            font-weight: 100; }
          .main__posts__item__link__article__line {
            width: 30%;
            height: 3px;
            background-color: var(--title-color);
            margin: 1.4rem 0; }
          .main__posts__item__link__article__desc {
            font-size: 1.2rem;
            color: #4a4a4a;
            overflow: hidden; }

.search {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: var(--main-bg);
  padding: calc(var(--nav-height) * 0.6 + var(--main-padding-ver)) var(--main-padding-hor) var(--main-padding-ver) var(--main-padding-hor); }
  .search__empty {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fefefe;
    white-space: pre-line;
    text-align: center; }
  .search__posts {
    --cols: 3;
    --rows: 3;
    --item-h: 30vh;
    --item-w: 1fr;
    display: grid;
    grid-template: repeat(var(--rows), var(--item-h))/repeat(var(--cols), var(--item-w));
    grid-gap: var(--main-list-gap); }
    @media screen and (max-width: 599px) {
      .search__posts {
        --item-h: 70vh;
        grid-template: repeat(calc(var(--cols) * var(--rows)), var(--item-h))/var(--item-w); } }
    .search__posts__item {
      display: grid;
      grid-template: 100%/var(--item-h) 1fr;
      grid-template-areas: "img article";
      overflow: hidden; }
      @media screen and (max-width: 599px) {
        .search__posts__item {
          grid-template: 40% 1fr / 100%;
          grid-template-areas: "img" "article"; } }
      .search__posts__item__img {
        min-width: 100%;
        max-width: 150%;
        height: 100%;
        grid-area: img; }
      .search__posts__item__article {
        --title-color: #1b1b1b;
        grid-area: article;
        background-color: #fefefe;
        padding: 5%;
        position: relative;
        display: grid;
        grid-template: 2rem auto 2.4rem auto 6vh / 100%; }
        .search__posts__item__article__date {
          color: #cccccc;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-family: monospace;
          font-weight: 100; }
        .search__posts__item__article__title {
          color: var(--title-color);
          font-size: 2rem;
          white-space: pre-line;
          font-weight: 100;
          overflow: hidden; }
        .search__posts__item__article__line {
          width: 30%;
          height: 3px;
          background-color: var(--title-color);
          margin: auto 0; }
        .search__posts__item__article__desc {
          font-size: 1.2rem;
          color: #4a4a4a;
          overflow: hidden; }
        .search__posts__item__article__link {
          display: block;
          width: 34%;
          height: 5.4vh;
          text-align: center;
          line-height: 5.4vh;
          font-size: 100%;
          font-weight: 700;
          color: #9f9f9f;
          text-transform: uppercase;
          text-decoration: none;
          border: 3px solid #9f9f9f;
          margin: auto 0 0 0;
          transition: color  .1s 0s ease-in-out, border .1s 0s ease-in-out; }
          .search__posts__item__article__link:hover {
            color: #2f2f2f;
            border-color: #2f2f2f; }

:root {
  --post-header-height: 100vh; }

html {
  font-size: 18px;
  max-width: 100%; }

@media print {
  html {
    font-size: 12px; } }

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px; } }

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px; } }

.header {
  --img: url("http://placekitten.com/g/1280/720");
  width: 100vw;
  height: var(--post-header-height);
  background: var(--img) center center no-repeat fixed;
  background-size: cover;
  position: relative;
  perspective: 1000px;
  transform: translateZ(-3px) scale(1.05) translateY(-3%);
  overflow: hidden; }
  .header__title {
    text-align: center;
    line-height: var(--post-header-height);
    line-break: strict;
    white-space: pre-line;
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase; }

.post {
  position: absolute;
  left: 50%;
  top: var(--post-header-height);
  transform: translateX(-50%);
  width: auto;
  width: 100vw;
  width: 35em;
  min-height: 100vh;
  height: auto;
  white-space: pre-line;
  font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  font-size: 20px; }
  .post * {
    text-align: left; }
  .post h1,
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6 {
    margin: 0;
    padding: 0;
    font-weight: normal; }
  .post h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 3.25rem; }
  .post h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 2.5rem; }
  .post h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 2rem; }
  .post h4 {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-weight: 500;
    font-size: 1.5rem; }
  .post h5 {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.25rem; }
  .post h6 {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem; }
  .post p {
    margin-top: 0;
    margin-bottom: 1rem; }
  .post a {
    background-image: linear-gradient(#449, #449);
    background-size: 0.06em 0.06em;
    background-repeat: repeat-x;
    background-position-y: 93%;
    background-position-x: 0;
    color: #449;
    text-decoration: none;
    /* text-shadow: white 0.7px 0.7px 0.1px, white 0 1px 0.1px, white -.7px 0.7px 0.1px, white -.7px 0 0.1px, white -.7px -.7px 0.1px, white 0 -.7px 0.1px, white 0.7px -.7px 0.1px, white 0.7px 0 0.1px; */
    transition: 0.15s; }
  .post a:active {
    background-color: #eee;
    color: #555;
    text-decoration: none;
    /* text-shadow: #eee 0.7px 0.7px 0.1px, #eee 0 1px 0.1px, #eee -.7px 0.7px 0.1px, #eee -.7px 0 0.1px, #eee -.7px -.7px 0.1px, #eee 0 -.7px 0.1px, #eee 0.7px -.7px 0.1px, #eee 0.7px 0 0.1px; */ }
  .post a:hover {
    background-image: linear-gradient(#66e, #66e);
    color: #66e; }
  .post b,
  .post strong {
    font-weight: bolder; }
  .post em,
  .post i {
    font-style: italic; }
  .post del,
  .post s,
  .post strike {
    text-decoration: none;
    background-image: linear-gradient(#000, #000);
    background-size: 0.06em 0.06em;
    background-repeat: repeat-x;
    background-position-y: 65%;
    background-position-x: 0; }
  .post code,
  .post pre,
  .post samp,
  .post var {
    font-size: 95%;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    color: #666; }
  .post pre {
    display: block;
    margin: 1rem -2rem;
    padding: 1rem 2rem;
    background-color: #eee;
    border-left: 0.1rem solid #888; }
  .post p code {
    padding: 0 0.2em 0.1em;
    background-color: #eee; }
  .post p var {
    padding: 0 0.2em 0.1em;
    background-color: #eee;
    font-weight: bolder;
    font-style: normal; }
  .post p samp {
    padding: 0 0.2em 0.1em;
    margin: 0 0.1em;
    background-color: #666;
    color: #eee; }
  .post kbd {
    position: relative;
    padding: 0.2em 0.2em 0.1em 0.2em;
    margin: 0 0.1em;
    bottom: 0.125em;
    font-family: "Fira Sans", "Verdana", "Geneva", sans-serif;
    font-size: 0.8em;
    background-color: #eee;
    border-radius: 0.2em;
    border-bottom: 0.05em solid #aaa; }
  .post blockquote {
    margin: 1rem -2rem;
    padding: 1rem 2rem;
    background-color: #eee;
    color: #666;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.5; }
  .post blockquote::before {
    content: "\201C";
    display: block;
    position: relative;
    height: 0;
    left: -1.3rem;
    top: -0.5rem;
    font-size: 2em;
    color: #888; }
  .post blockquote::after {
    content: "\201D";
    display: inline-block;
    position: relative;
    height: 0;
    top: 1.6rem;
    left: 0.2rem;
    font-size: 2em;
    line-height: 0;
    color: #888; }
  .post abbr[title] {
    text-decoration: none;
    background-image: linear-gradient(90deg, gray 50%, transparent 50%);
    background-size: 0.1em 0.06em;
    background-repeat: repeat-x;
    background-position-y: 100%;
    background-position-x: 0;
    font-feature-settings: "smcp"; }
  .post ul {
    list-style: none;
    margin-left: -2em;
    padding-left: 2em; }
  .post ul > li {
    padding-left: 0; }
  .post ul > li::before {
    content: "»";
    display: block;
    position: relative;
    height: 0;
    width: 2em;
    margin-left: -2.5em;
    font-weight: bolder;
    color: #888;
    text-align: right; }
  .post ul ul > li::before {
    content: "›";
    display: block;
    position: relative;
    height: 0;
    width: 2em;
    margin-left: -2.5em;
    font-weight: bolder;
    color: #888;
    text-align: right; }
  .post ol {
    list-style: none;
    margin-left: -2em;
    padding-left: 2em; }
  .post ol > li {
    padding-left: 0;
    counter-increment: ol-count; }
  .post ol > li:first-child {
    counter-reset: ol-count; }
  .post ol > li::before {
    content: counter(ol-count) ".";
    display: block;
    position: relative;
    height: 0;
    width: 2em;
    margin-left: -2.5em;
    font-weight: bolder;
    color: #888;
    text-align: right; }
  .post ol ol,
  .post ol ul,
  .post ul ol,
  .post ul ul {
    margin: 0.5em 0; }
  .post img {
    display: block;
    width: calc(100% + 4rem);
    margin: 1rem -2rem; }
  .post figure {
    display: inline-table;
    margin: 0rem -2rem 1rem -2rem;
    padding: 2rem 2rem;
    background-color: #eee; }
  .post figure img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    margin: 0 auto; }
  .post figure img + img {
    margin-left: 1rem; }
  .post figure figcaption {
    max-width: 100%;
    margin: 1rem auto -1rem auto;
    font-size: 0.9rem;
    font-style: italic; }
  .post table {
    margin: 0 -1rem 1rem -1rem;
    width: calc(100% + 2rem);
    overflow: hidden;
    border-collapse: collapse; }
  .post table caption {
    padding-top: 0.5rem;
    border-top: 1px solid #eee;
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    color: #666; }
  .post tr {
    transition: 0.15s; }
  .post thead tr {
    border-bottom: 2px solid #888; }
  .post tfoot tr {
    border-bottom: none;
    border-top: 1px solid #eee;
    font-weight: bolder; }
  .post tbody tr:hover,
  .post tfoot tr:hover {
    background-color: #eee; }
  .post td,
  .post th {
    position: relative;
    padding: 0.3rem 1rem; }
  .post th {
    font-weight: bolder; }
  .post tbody tr:first-of-type td,
  .post tbody tr:first-of-type th {
    padding-top: 0.5rem; }
  .post hr {
    height: 0;
    width: 10rem;
    border: 0;
    border-bottom: 1px solid black;
    margin: 2rem auto; }
