@require "./pos.styl"

v(variable)
  var(
    unquote('--' + variable)
  )

save(width = @width, height = width)
  content: ""
  to_center()
  width: width
  height: height
  border-radius: @border-radius 

threeD()
  text-shadow:
    1px 1px 0.5px @color,
    2px 2px 0.5px darken(@color, 10%),
    3px 3px 0.5px darken(@color, 30%)

nthAlphabet()
  alphabet = '', 'a','b','c','d','e','f','g','h','i'
  out = ()
  for ltr, ind in alphabet
    &:nth-of-type( {ind} )
      add-property('grid-area', unquote( ltr ))