positions = {
  fixed: "fixed",
  absolute: "absolute",
  relative: "relative"
}
to_center(pos = absolute) 
  position: unquote(positions[pos])
  left: (50%);
  top: (50%);
  transform: translate(-50%, -50%)
