:root {
  --nav-img-s: calc(var(--nav-w) * 0.7);
  --nav-segment-h: 5vh;
  --nav-link-h: 4vh;
  --nav-segment-bg: #1a1a1a;
  --nav-segment-title-fs: calc(var(--nav-segment-h) / 2.7);
  --nav-segment-link-fs: calc(var(--nav-link-h) / 2.7);
}
.nav {
  grid-area: nav;
  background-color: var(--nav-bg);
  overflow-y: auto;
  display: grid;
  grid-template: var(--nav-w) auto / 100%;
  grid-template-areas: "user" "segments";
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &__user {
    grid-area: user;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 1vh;
    border-bottom: 2px solid #eeeeee;

    &__img {
      width: var(--nav-img-s);
      height: var(--nav-img-s);
      margin: auto;
      border-radius: 50%;
    }

    &__name {
      text-align: center;
      color: #fefefe;
      font-size: 2vh;
    }
  }

  &__segments {
    padding-top: 1vh;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--nav-segment-bg);

    &__item {
      height: var(--nav-segment-h);
      will-change: height;
      overflow: hidden;

      &--open {
        height: auto;
        transition: height .1s 0s ease-out;
      }

      &__title {
        text-align: center;
        height: var(--nav-segment-h);
        color: #fefefe;
        font-size: var(--nav-segment-title-fs);
        line-height: var(--nav-segment-h);
        background-color: var(--nav-segment-bg);
        cursor: pointer;
        z-index: 2;
      }

      &__links {
        width: 100%;
        height: auto;
        z-index: 1;

        &__item {
          height: var(--nav-link-h);
          text-align: center;
          background-color: #2c2c2c;

          &__link {
            line-height: var(--nav-link-h);
            font-size: var(--nav-segment-link-fs);
            color: #eeeeee;
          }
        }
      }
    }
  }
}