@import "../partials/colors";
// @require "../partials/pos"
// @require "../partials/functions"
@import "../partials/breakpoints";
@import "./bookmark.scss";

:root {
	--header-n: 0;
	--header-img: ($blue);
	--header-img-w: calc(100vw - var(--bookmark-w));
	--header-trans:
		transform .4s 0s linear
	;
	--bookmark-w: 26em;
	// --bookmark-c: #1C1C1C;
	--bookmark-c: #ffffff;
	// --bookmark-title-c: #EEEEEE;
	--bookmark-title-c: #2a2a2a;
	--bookmark-title-mb: 20%;
	--bookmark-shape-r: 10%;
	--bookmark-shape-b: -40%;
	--bookmark-btn-w: 65%;
	--bookmark-form-label-fs: 1rem;
	--bookmark-form-input-w: 100%;
	--bookmark-form-input-h: 3em;
	--bookmark-form-input-fs: 1rem;
	--bookmark-form-box-s: 1rem;
}

@include phone {
	:root {
		--bookmark-w: 20rem;
		--bookmark-c: rgba(10,10,10,0.7);
		--header-img-w: 100vw;
	}
}

.slider {
	width: 100%;
	height: 100vh;
	position: relative;
	@include phone {
		height: 90vh;
	}

	&__imgs {
		position: absolute;
		left: 0;
		top: 0;
		width: auto;
		min-width: 100vw;
		height: inherit;
		display: flex;
		flex-flow: row nowrap;
		background-color: var(--bookmark-c);
		transform: translateX(
			calc(var(--header-n) * var(--header-img-w) * -1)
		);
		transition: var(--header-trans);

		&__item {
			position: relative;
			width: var(--header-img-w);
			min-height: 100%;
			overflow: hidden;

			&__img {
				min-height: 100vh;
				max-height: 120%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-width: 100%;	
				width: auto;
			}
		}
	}

	.bookmark__pages {
		position: absolute;
		width: auto;
		height: 100%;
		display: flex;
		flex-flow: row nowrap;
		transform: translateX(
			calc(var(--header-n) * var(--bookmark-w) * -1)
		);
		transition: var(--header-trans);

		&__item {
			position: relative;
			width: var(--bookmark-w);
			height: 100%;
			overflow: hidden;
		}

		.bookmark__btn--slider {
			position: absolute;
			left: 50%;
			bottom: 32px;
			transform: translateX(-50%);
		}
	}
}