@import "../partials/breakpoints.scss";

:root {
  --nav-closed-height: 5vh;
  --nav-height: var(--nav-closed-height);
  --nav-upper-height: var(--nav-closed-height);
  --nav-pages-height: 6vh;
  --nav-open-height: calc(var(--nav-closed-height) + var(--nav-pages-height));
  --nav-color: rgba(7,7,7,0.7);
  --nav-open-color: rgba(7,7,7,1);
  --nav-side-padding: 2%;
  --nav-aside-width: 5vw;
}

@include phone {
  :root {
    --nav-closed-height: 8vh;
    --nav-side-padding: 5%;
    --nav-pages-height: calc(100vh - var(--nav-closed-height));
  }
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: var(--nav-height);
  // min-height: var(--nav-closed-height);
  padding: 0 var(--nav-side-padding);
  background-color: var(--nav-color);
  z-index: 10000;
  will-change: height;
  display: grid;
  grid-template: var(--nav-height) 1fr / 10% 20% 1fr 30%;
  grid-template-areas: 
    "burger search logo user"
    "pages pages pages pages"
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &--sticky {
    position: fixed;
    transition: transform .1s 0s ease-out;
    background-color: var(--nav-open-color);

    &--hidden {
      transform: translateY(-100%);
    }
    &--shown {
      transform: translateY(0);
    }
  }

  &--open {
    --nav-height: var(--nav-open-height);
    --nav-pages-height: calc(var(--nav-height) - var(--nav-upper-height));
    background-color: var(--nav-open-color);
    grid-template-rows: var(--nav-upper-height) auto;
    grid-template-areas: 
      "burger search logo user"
      "pages pages pages pages"
    ;

    .nav__pages {
      display: flex;
      height: var(--nav-pages-height);
    }

    @include phone {
      grid-template-rows: repeat(2, var(--nav-upper-height)) auto;
      grid-template-areas: 
      "burger _ logo user"
      "search search search search"
      "pages pages pages pages"
    ;
      .nav__search {
        visibility: visible;
      }
    }
  }

  &__burger {
    --s: calc(var(--nav-closed-height) / 1.5);
    grid-area: burger;
    height: var(--s);
    width: var(--s);
    margin-top: calc((var(--nav-closed-height) - var(--s)) / 2); 
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__icon {
      max-width: var(--s);
      max-height: var(--s);
      fill: #fefefe;
    }
  }

  &__search {
    --h: calc(var(--nav-closed-height) / 1.7);
    grid-area: search;
    height: var(--h);
    margin-top: calc((var(--nav-closed-height) - var(--h)) / 2);
    display: grid;
    grid-template: var(--h) / 1fr var(--h);
    grid-column-gap: 4%;
    overflow: hidden;

    @include phone {
      visibility: hidden;
      grid-template: var(--h) / 1fr;
    }

    &__input {
      background-color: transparent;
      color: #fefefe;
      border: none;
      border-bottom: 2px solid #ffffff;
      font-size: calc(var(--h) / 1.6);
      padding: 2% 2% 1% 2%;
      &:focus {
        outline: none;
      }
    }

    &__submit {
      background-color: transparent;
      border: none;
      fill: #ffffff;

      @include phone {
        visibility: hidden;
      }
    }
  }

  &__logo {
    --h: var(--nav-closed-height);
    --fs: calc(var(--h) / 2);
    grid-area: logo;
    font-size: var(--fs);
    line-height: var(--h);
    text-align: center;

    &__link {
      color: #ffffff;
    }
  }

  &__pages {
    grid-area: pages;
    display: none;
    flex-flow: row nowrap;
    height: var(--nav-pages-height);

    @include phone {
      flex-flow: column nowrap;
      margin-top: 1vh;
    }

    &__item {
      height: 100%;
      flex: 0 0 10%;
      text-align: center;

      @include phone {
        height: var(--nav-closed-height);
        width: 100%;
        flex: 0 0 10%;
      }

      &__link {
        color: #eeeeee;
        line-height: var(--nav-pages-height);
        font-size: calc(var(--nav-pages-height) / 3);
        text-transform: capitalize;
        text-decoration: none;
        @include phone {
          font-size: calc(var(--nav-closed-height) / 2);
          line-height: 1;
        }

        &:hover, &:focus {
          color: #ffffff;
        }
      }
    }
  }

  &__user {
    grid-area: user;
    display: flex;
    width: auto;
    margin-left: auto;
    flex-flow: row nowrap;

    a {
      line-height: var(--nav-closed-height);
      color: #eeeeee;
      &:hover {
        color: #ffffff;
      }
    }

    &__logout {
      margin-left: 2vw;
    }
  }


}
        
        