@import "../partials/breakpoints.scss";

:root {
  --nav-w: 6vh;
  --nav-under-block-w: calc(30vh - 6vh);
  --nav-icon-s: var(--nav-w);
  --nav-icon-is: calc(var(--nav-icon-s) / 2);
  --nav-link-h: var(--nav-icon-s);
  --nav-link-fs: calc(var(--nav-link-h) / 3.5);
  --nav-link-pd: 0 2vh;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  // width: var(--nav-w);
  width: auto;
  height: 100vh;
  overflow-x: visible;
  z-index: 1000;

  &__bar {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template: repeat(3, auto) / 100%;
    grid-template-areas: "top" "mid" "btm";
    background-color: #1b1b1b;
    width: var(--nav-w);
    height: 100%;

    &--top, &--mid, &--btm {
      width: 100%;
      height: auto;
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      left: 0;
    }

    &--top { 
      top: 0; 
    }
    &--btm { 
      bottom: 0; 
    }

    &__icon {
      width: var(--nav-icon-s);
      height: var(--nav-icon-s);
      background-color: transparent;
      border: none;
      fill: #999999;
      cursor: pointer;

      &:hover, &:focus {
        outline: none;
        fill: #ffffff;
      }
      svg {
        width: var(--nav-icon-is);
        height: var(--nav-icon-is);
        fill: inherit;
        transition: fill .1s 0s linear;
        margin: auto;
      }

      &--ext {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        // width: calc(var(--nav-under-block-w) + var(--nav-w));
        width: auto;
        z-index: 1;
        
        .nav__bar__icon__btn {
          width: var(--nav-icon-s);
          height: var(--nav-icon-s);
          background-color: transparent;
          border: none;
          fill: #999999;
          cursor: pointer;
          
          &:hover, &:focus {
            outline: none;
            fill: #ffffff;
          }
          svg {
            width: var(--nav-icon-is);
            height: var(--nav-icon-is);
            fill: inherit;
            transition: fill .1s 0s linear;
          }
        }

        .nav__bar__icon__block {
          width: var(--nav-under-block-w);
          height: var(--nav-link-h);
          position: absolute;
          left: 0;
          top: 0;
          transform: translateX(-100%);
          width: calc(var(--nav-under-block-w) + var(--nav-w));
          height: 100%;
          padding-left: var(--nav-w);
          background-color: #3b3b3b;
          z-index: -1;
          transition: transform .1s 0s linear;

          &--vis {
            transform: translateX(0%);
          }

          &__input {
            @extend .nav__under__block__list__item__link;
            padding: var(--nav-link-pd);
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            z-index: 2;
          }
        }
      }
    }
  }

  &__under {
    width: 0;
    @include edge {
      width: calc(var(--nav-under-block-w));
    }
    height: 100%;
    overflow-x: visible;
    list-style: none;

    &__block {
      --w: var(--nav-under-block-w);
      @include edge {
        --w: calc(var(--nav-under-block-w));
      }
      position: fixed;
      left: 0;
      top: 0;
      transform: translateX(calc(var(--w) * -1));
      @include edge {
        transform: translateX(0%);
      }
      width: var(--w);
      height: 100%;
      background-color: #2c2c2c;
      transition: 
        transform .1s 0s linear,
        visibility 0s .1s linear
      ;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      visibility: hidden;

      &--small {
        top: var(--y);
        height: var(--nav-w);
      }

      &--vis {
        visibility: visible;
        transform: translateX(calc(0% + var(--nav-w) - 1px));
        @include edge {
          transform: translateX(25%);
        }
        transition: 
          transform .1s 0s linear,
          visibility .1s 0s linear
        ;
      }

      &__list {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: auto;
        min-height: 100%;
        padding: var(--nav-link-pd);
        overflow-x: hidden;
        list-style: none;

        &__item {
          height: var(--nav-link-h);
          width: 100%;
          line-height: var(--nav-link-h);
          display: flex;
          flex-flow: row nowrap;

          &__btn {
            display: flex;
            @extend .nav__bar__icon;
            position: relative;
            align-items: center;
            margin-left: auto;
            cursor: pointer;
          }

          &__link {
            display: block;
            color: #909090;
            font-size: var(--nav-link-fs);
            text-decoration: none;
            height: var(--nav-link-h);

            &:hover, &:focus {
              color: #fefefe;
              outline: none;
            }
          }
        }
      }
    }
  }


}


































/*:root {
  --nav-closed-height: 5vh;
  --nav-height: var(--nav-closed-height);
  --nav-upper-height: var(--nav-closed-height);
  --nav-pages-height: 6vh;
  --nav-open-height: calc(var(--nav-closed-height) + var(--nav-pages-height));
  --nav-color: rgba(7,7,7,0.7);
  --nav-open-color: rgba(7,7,7,1);
  --nav-side-padding: 2%;
  --nav-aside-width: 5vw;
}

@include phone {
  :root {
    --nav-closed-height: 8vh;
    --nav-side-padding: 5%;
    --nav-pages-height: calc(100vh - var(--nav-closed-height));
  }
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: var(--nav-height);
  // min-height: var(--nav-closed-height);
  padding: 0 var(--nav-side-padding);
  background-color: var(--nav-color);
  z-index: 10000;
  will-change: height;
  display: grid;
  grid-template: var(--nav-height) 1fr / 10% 20% 1fr 30%;
  grid-template-areas: 
    "burger search logo user"
    "pages pages pages pages"
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &--sticky {
    position: fixed;
    transition: transform .1s 0s ease-out;
    background-color: var(--nav-open-color);

    &--hidden {
      transform: translateY(-100%);
    }
    &--shown {
      transform: translateY(0);
    }
  }

  &--open {
    --nav-height: var(--nav-open-height);
    --nav-pages-height: calc(var(--nav-height) - var(--nav-upper-height));
    background-color: var(--nav-open-color);
    grid-template-rows: var(--nav-upper-height) auto;
    grid-template-areas: 
      "burger search logo user"
      "pages pages pages pages"
    ;

    .nav__pages {
      display: flex;
      height: var(--nav-pages-height);
    }

    @include phone {
      grid-template-rows: repeat(2, var(--nav-upper-height)) auto;
      grid-template-areas: 
      "burger _ logo user"
      "search search search search"
      "pages pages pages pages"
    ;
      .nav__search {
        visibility: visible;
      }
    }
  }

  &__burger {
    --s: calc(var(--nav-closed-height) / 1.5);
    grid-area: burger;
    height: var(--s);
    width: var(--s);
    margin-top: calc((var(--nav-closed-height) - var(--s)) / 2); 
    overflow: hidden;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__icon {
      max-width: var(--s);
      max-height: var(--s);
      fill: #fefefe;
    }
  }

  &__search {
    --h: calc(var(--nav-closed-height) / 1.7);
    grid-area: search;
    height: var(--h);
    margin-top: calc((var(--nav-closed-height) - var(--h)) / 2);
    display: grid;
    grid-template: var(--h) / 1fr var(--h);
    grid-column-gap: 4%;
    overflow: hidden;

    @include phone {
      visibility: hidden;
      grid-template: var(--h) / 1fr;
    }

    &__input {
      background-color: transparent;
      color: #fefefe;
      border: none;
      border-bottom: 2px solid #ffffff;
      font-size: calc(var(--h) / 1.6);
      padding: 2% 2% 1% 2%;
      &:focus {
        outline: none;
      }
    }

    &__submit {
      background-color: transparent;
      border: none;
      fill: #ffffff;

      @include phone {
        visibility: hidden;
      }
    }
  }

  &__logo {
    --h: var(--nav-closed-height);
    --fs: calc(var(--h) / 2);
    grid-area: logo;
    font-size: var(--fs);
    line-height: var(--h);
    text-align: center;

    &__link {
      color: #ffffff;
    }
  }

  &__pages {
    grid-area: pages;
    display: none;
    flex-flow: row nowrap;
    height: var(--nav-pages-height);

    @include phone {
      flex-flow: column nowrap;
      margin-top: 1vh;
    }

    &__item {
      height: 100%;
      flex: 0 0 10%;
      text-align: center;

      @include phone {
        height: var(--nav-closed-height);
        width: 100%;
        flex: 0 0 10%;
      }

      &__link {
        color: #eeeeee;
        line-height: var(--nav-pages-height);
        font-size: calc(var(--nav-pages-height) / 3);
        text-transform: capitalize;
        text-decoration: none;
        @include phone {
          font-size: calc(var(--nav-closed-height) / 2);
          line-height: 1;
        }

        &:hover, &:focus {
          color: #ffffff;
        }
      }
    }
  }

  &__user {
    grid-area: user;
    display: flex;
    width: auto;
    margin-left: auto;
    flex-flow: row nowrap;

    a {
      line-height: var(--nav-closed-height);
      color: #eeeeee;
      &:hover {
        color: #ffffff;
      }
    }

    &__logout {
      margin-left: 2vw;
    }
  }


}
        */
        