@import "../partials/functions.scss";

:root {
	--chunk-h: 50vh;
	--article-h: 10vh;
	--main-list-gap: 3vh; 
	--main-bg: #1e1e1e;
	--main-padding-ver: 3%;
	--main-padding-hor: 10%;
}
.main {
	width: 100vw;
	height: auto;
	background-color: var(--main-bg);
	padding: var(--main-padding-ver) var(--main-padding-hor);
	z-index: 50;
	position: relative;

	@include phone {
		--main-padding-hor: 4%;
	}
	@include tablet-ver {
		--main-padding-hor: 2%;
	}

	&__title {
		font-size: 2.4rem;
		text-align: center;
		font-family: monospace;
		position: relative;
		background: var(--main-bg);
		color: #ededed;
		width: 22vw;
		font-weight: lighter;
		margin: 5vh auto 2vh auto;
		@include phone {
			width: 50%;
			height: auto;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			width: calc(100vw / 2);
			height: 3px;
			background-color: rgb(70, 70, 70);
			transform: translateY(-50%);
			z-index: -1;
		}

		&::before {
			left: calc(100vw / -3.2 + var(--main-padding-hor));
		}

		&::after {
			right: calc(100vw / -3.2 + var(--main-padding-hor));
		}
	}

	&__posts {
		display: block;
		column-width: 30%;
		column-count: 3;
		column-gap: 1%;
		// height: auto;
		// height: 300vh;

		@include tablet-ver {
			column-count: 2;
		}
		@include phone {
			column-count: 1;
		}

		&__item {
			--m: 2vh;
			overflow: hidden;
			height: auto;
			margin: var(--m) calc(var(--m) / 8);
			background-color: #ffffff;
			position: relative;
			-webkit-column-break-inside: avoid;

			&:nth-of-type(1) {
				margin-top: 0;
			}

			@include phone {
				max-width: 100%;
				width: 100%;
				margin: 2vh 0;
			}

			&__link {
				$yd: -5%;
				width: 100%;
				min-height: 100%;
				height: auto;
				text-decoration: none;
				display: flex;
				flex-flow: column nowrap;
				@include edge {
					transform: translateY($yd);
				}

				@include desktop {
					&:focus, &:hover {
						.main__posts__item__link__article {
							transform: translateY(-20%);
							&::after {
								visibility: hidden;
								}
						}
					}
				}

				&__img {
					height: 50vh;
					width: auto;
					object-fit: fill;
					object-position: top;

					@include tablet-hor {
						max-height: 100%;
						width: auto;
					}
				}

				&__article {
					--max-h: 35vh;
					--after-h: 4vh;
					--title-color: #1b1b1b;
					--padding: 1.5vh;
					$bg: #fefefe;
					background-color: $bg;
					padding: var(--padding);
					width: 100%;
					height: auto;
					transition: transform .2s 0s ease-in-out;

					@include phone {
						--max-h: 60vh;
						margin-bottom: calc(var(--padding) * 2);
					}

					&::after {
						content: "...";
						position: absolute;
						left: 0;
						bottom: 0;
						text-align: center;
						font-size: calc(var(--after-h) * 0.7);
						line-height: var(--after-h);
						height: var(--after-h);
						width: 100%;
						background-color: $bg;
						@include edge {
							bottom: $yd;
						}
					}

					&__date {
						color: #cccccc;
						font-size: 1.2rem;
						text-transform: uppercase;
						font-family: monospace;
						font-weight: 100;
					}

					&__title {
						display: block;
						color: var(--title-color);
						font-size: 2rem;
						white-space: pre-line;
						font-weight: 100;
					}

					&__line {
						width: 30%;
						height: 3px;
						background-color: var(--title-color);
						margin: 1.4rem 0;
						@include phone {
							display: none;
						}
					}

					&__desc {
						font-size: 1.2rem;
						height: auto;
						color: #4a4a4a;
						overflow: hidden;
						@include phone {
							display: none;
						}
						@include tablet-ver {
							max-height: calc(2ch * 7);
						}
					}
				}
			}
		}
	}
}