@import "../partials/breakpoints.scss";
:root {
  --search-settings-width: 12vw;
  --search-settings-height: 5vh;
}
.search {
	width: calc(100vw - var(--nav-w));
	height: auto;
  min-height: 100vh;
  background-color: var(--main-bg);
  padding: 
  var(--nav-height)
  var(--main-padding-hor)
  var(--main-padding-ver)
  var(--main-padding-hor)
  ;
  display: grid;
  grid-template: var(--search-settings-height) 1fr / 100%;
  grid-template-areas: "settings" "content";
  grid-row-gap: calc( var(--main-list-gap) * 0.6 );
  @include phone {
    width: 100vw;

    --main-padding-ver: 0;
    --search-settings-height: 12vh;
  }

  &__settings {
    // --top: calc(var(--nav-height) * 0.6);
    grid-area: settings;
    width: 100%;
    height: var(--search-settings-height);

    &__form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;

      @include phone {
        flex-flow: column nowrap;
      }

      &__filter {
        flex: 1 0 20%;
        margin-right: .6vh;
        font-size: 1.2rem;
        padding: 0 .5%;
      }

      &__options {
        display: flex;
        flex-flow: row nowrap;
        // justify-content: space-around;
        height: 100%;
        width: 100%;
        list-style: none;

        &__item {
          height: 100%;
          flex: 1 0 10%;

          &__input {
            --h: var(--search-settings-height);
            width: 100%;
            height: 100%;
            margin: auto;

            &--order {
              font-size: 1.2rem;
              option {
                height: var(--h);
              }
            }
          }
        }

        @include phone {
         width: auto;
         height: auto;
         flex: 2 0 50%; 
        }

      }

      &__submit {
        $timing: .1s;
        flex: 2 0 10%;
        margin-left: 1%; 
        border: 2px solid #fefefe;
        background-color: transparent;
        color: #fefefe;
        font-weight: 600;
        font-size: 1.2rem;
        transition: 
          background-color $timing 0s ease-in-out,
          color            $timing 0s ease-in-out
        ;

        &:hover {
          cursor: pointer;
          background-color: #fefefe;
          color: var(--main-bg);
        }

        @include phone {
          flex: 1 0 30%;
          margin: 0;
        }
      }
    }

  }

  &__empty {
    grid-area: content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fefefe;
    white-space: pre-line;
    text-align: center;
  }

	&__posts {
		--cols: 3;
		--rows: 3;
		--item-h: 30vh;
    --item-w: 1fr;
    grid-area: content;
		display: grid;
		grid-template:
			repeat(var(--rows), var(--item-h)) /
			repeat(var(--cols), var(--item-w));
    grid-gap: var(--main-list-gap);

    @include phone {
      --item-h: 70vh;
      --item-w: 90vw;
      grid-template: 
        repeat(calc(var(--cols) * var(--rows)), var(--item-h)) / 
        var(--item-w);
    }

		&__item {
			display: grid;
			grid-template: 100% / var(--item-h) 1fr;
			grid-template-areas: "img article";
      overflow: hidden;

      @include phone {
        grid-template: 40% 1fr / 100%;
        margin: 0 auto;
        grid-template-areas: 
          "img"
          "article"
        ;
      }
      
      &__img {
        min-width: 100%;
        max-width: 150%;
        height: 100%;
        grid-area: img;
      }

      &__article {
        --title-color: #1b1b1b;
        $padding: 5%;
        $bg: #fefefe;
        grid-area: article;
        background-color: $bg;
        padding: $padding;
        position: relative;
        display: grid;
        grid-template: 2rem auto 2.4rem 1fr 6vh / 100%; // Date Title line desc link

        &__date {
          color: #cccccc;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-family: monospace;
          font-weight: 100;
        }

        &__title {
          // display: block;
          // height: auto;
          color: var(--title-color);
          font-size: 2rem;
          white-space: pre-line;
          font-weight: 100;
          overflow: hidden;
        }

        &__line {
          width: 30%;
          height: 3px;
          background-color: var(--title-color);
          margin: auto 0;
        }

        &__desc {
          font-size: 1.2rem;
          color: #4a4a4a;
          overflow: hidden;
          max-height: 7ch;
          
          @include phone {
            display: none;
            visibility: hidden;
          }
        }

        &__link {
          $color: #9f9f9f;
          $height: 5.4vh;
          display: block;
          min-width: 34%;
          width: auto;
          max-width: 50%;
          height: $height;
          text-align: center;
          line-height: $height;
          font-size: 100%;
          font-weight: 700;
          color: $color;
          text-transform: uppercase;
          text-decoration: none;
          border: 3px solid $color;
          margin: auto 0 0 0;
          transition: 
            color  .1s 0s ease-in-out,
            border .1s 0s ease-in-out
          ;

          &:hover {
            $color: #2f2f2f;
            color: $color;
            border-color: $color;
          }

          @include phone {
            margin: auto;
            grid-row: 4 / 6;
          }
        }
      }
		}
	}
}
